@media only screen and (max-width: 1024px) {
    ul.menuHeader {
        visibility: hidden;
    }

    img.logotype {
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);
    }

    hr.footer {
        visibility: hidden;
    }

    h3.contactHeader {
        visibility: hidden;
    }

    div.blockLogo {
        left: 35%;
    }

    a > img.logotype {
        transform: translate(-50%, 0);
    }
}