/* CORE STYLE */
* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 255, 255);
    scroll-behavior: smooth;
}

div#all {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* HEADER STYLE*/

header {
    position: fixed;
    width: 100%;
    height: 3em;
    box-shadow: 0 0 5px rgb(0, 0, 0);
    background-color: rgb(255, 255 ,255);
}

div.blockLogo {
    position: absolute;
    width: 100px;
    height: 100px;
    top: -10px;
    left: 90%;
    transform: rotate(45deg);
    box-shadow: 0 0 20px rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);   
    border-radius: 5px;
    border-bottom-right-radius: 50%;
    transition-duration: 500ms;
}

a > img.logotype {
    height: 90px;
    width: 90px;
    transform: rotate(-45deg);
}
    
ul.menuHeader {
    position: absolute;
    display: inline-block;
    top: 0;
    left: 5%;
    line-height: 3em;
    list-style: none;
}
    
ul.menuHeader > li {
    display: inline;
}
    
a.menuLink {
    display: inline;
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 10px;
    font-weight: 600;
    transition-duration: 400ms;
}

a.menuLink:hover {
    background-color: rgb(0, 233, 0);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgb(0, 0, 0);
}

/* CONTENT STYLE*/
    
div#content {
    flex: 1 0 auto;
    text-align: center;
    margin-top: 3em;
}

div.circle {
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: rgb(207, 79, 20);
    box-shadow: 0 0 10px rgb(0, 0, 0);
}

div.circle:hover {

}

div.One {
    left: 4%;
    top: 20%;
    height: 120px;
    width: 120px;
}

div.Two {
    left: 15%;
    top: 20%;
}

div.Three {
    left: 25%;
    top: 20%;
    height: 190px;
    width: 190px;
}

div.Four {
    left: 17%;
    top: 40%;
    height: 130px;
    width: 130px;
}

div.Five {
    left: 35%;
    top: 8%;
    height: 150px;
    width: 150px;
}

div.Six {
    left: 50%;
    top: 24%;
    height: 200px;
    width: 200px;
}

div.Seven {
    left: 40%;
    top: 30%;
    height: 170px;
    width: 170px;
}

/* FOOTER STYLE*/
    
footer {
    height: 6em;
    flex: 0 0 auto;
    background-color: rgb(97, 97, 97);
    color: rgb(255, 255, 255);
    box-shadow: 0 0 5px rgb(0, 0, 0);
    border-top: 1px solid rgb(72, 72, 72);
}

ul.menuFooter {
    display: inline-block;
    list-style: none;
    margin-left: 1em;
}

a.footerMenuItem {
    color: rgb(255, 255 ,255);
}

ul.menuFooter > li {
    display: inline;
    line-height: 6em;
}

p.date {
    display: inline-block;
    position: absolute;
    font-size: 0.5em;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 10.5em;
}
    
a.indexLink {
    text-decoration: none;
    color: rgb(0, 255, 0);
}

img.footerLogotype {
    position: absolute;
    height: 5em;
    left: 50%;
    transform: translate(-50%, 0);
}

div#footerStart {
    display: block;
    position: relative;
    float: left;
    width: 30%;
    height: 5em;
    padding: 0.5em;
}

div#footerEnd {
    display: block;
    position: relative;
    float: right;
    width: 30%;
    height: 5em;
    padding: 0.5em;
}

h3.contactHeader {
    font-size: 0.8em;
    text-align: center;
}

hr.footer {
    border-radius: 50%;
    border-block-end-color: green;
}

/* STYLE FOR CONTACT*/
iframe {
    width: 100%;
}